/***** 

dark grey { color: #444444; }
grey { color: #808284; }
light grey { color: #A1A3A6; }
white { color: #FFFFFF; }

CSS rules to specify families

font-family: 'Open Sans', sans-serif; - open sans regular for text
font-family: 'Work Sans', sans-serif; - Work sans light for headings

--light-slate-gray: #6b889e;
--burnt-umber: #923926;
--cadmium-orange: #e9873f;
--rich-black-fogra-29: #0c151b;
--gray-web: #807c7d;

--dark-electric-blue: #51697bff;
--burnt-umber: #923926ff;
--cadmium-orange: #e9873fff;
--rich-black-fogra-29: #0d161cff;
--gray-web: #807c7dff;


*****/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 4.5rem; 
}

h2 {
    font-size: 3rem;
}

/*** Header ***/
header {
    height: 100vh;
    background-image: url("../images/backgroundimage.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}
/*Photo by <a href="https://unsplash.com/@atomsmasher?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sandip Kalal</a> on <a href="https://unsplash.com/t/textures-patterns?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
  
nav {
    float: right;
    margin: 20px;
}

nav ul {
    display: flex;
}

nav li {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

.info {
    opacity: 80%;
    padding: 30vh 20vw;
}



/*** About Me ***/
.content {
    padding: 60px 30px;
    background-color: white;
    width: 100%;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    text-align: left;
}

.about-me-container h2 {
    color: #923926;
}

.about-me-container img {
    width: 350px;
    margin-left: 2%;
    border: 5px solid #923926;
    border-radius: 400px;
    background-color: #923926;
    padding: 5px;
}

.about-me-description {
    width: 50%;
    margin-right: 8%;
}

/*** Projects ***/
#projects {
    background-color: #0C161C;
    color: white;
}

.projects-container {
    display: grid;
    grid-template: 300px 300px / 1fr 1fr;
    grid-gap: 25px;
    margin-top: 30px;
}

.mini-project { 
    padding: 20px;
    border-radius: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    /* on hover solid background? */
}

.project-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.project-text ul {
    padding-left: 1rem;
    margin-bottom: 50px;
    list-style: circle;
}

.project-text p {
    font-family: "Work Sans", sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.box-a, .box-d {
    background-color: #E9873F;
    color: #0D161C;
}

.box-a a, .box-d a {
    color: #0D161C;
    font-weight: bold;
}

.box-a {
    background-image: linear-gradient(to right, rgba(233, 135, 63, 1), rgba(233, 135, 63, 0.98), rgba(255, 255, 255, 0)), url('../images/ballybofey-website.JPG');
}

.box-b {
    background-image: linear-gradient(to right, rgba(51, 87, 112, 1), rgba(51, 87, 112, 0.98), rgba(255, 255, 255, 0)), url('../images/prism.JPG');
}

.box-c {
    background-image: linear-gradient(to right, rgba(51, 87, 112, 1), rgba(51, 87, 112, 0.98), rgba(255, 255, 255, 0)), url('../images/temp-python.jpg');
}

.box-d {
    background-image: linear-gradient(to right, rgba(233, 135, 63, 1), rgba(233, 135, 63, 0.98), rgba(255, 255, 255, 0)), url('../images/temp-javascript.jpg');
}

/*** Skills ***/
#skills {
    width: 50%;
    float: left;
}

#skills h2, #contact h2 {
    color: #303F4B;
    text-align: center;
}

.skills-container {
    display: flex;
    background-color: #9BAFBF;
    width: 100%;
    margin: 30px;
    border-radius: 25px 0 25px 0;
}

.skill-headings {
    background-color: #50687C;
    border-radius: 25px 0 0;
}

.skill-heading {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px 0 25px 0;
}

.skill-heading:hover {
    background-color: #9BAFBF;
    font-weight: bold;
}

#skills-details {
    width: 100%;
    background-color:#9BAFBF;
    border-radius: 25px;
    padding: 20px;
    text-align: left;
}

#skills-details li {
    list-style-position: inside;
}

#skills-details p {
    padding: 10px 0;
}

/*** Contact Me ***/
#contact {
    width: 50%;
    float: right;
}

/*** Footer ***/
footer {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: right;
    clear: both;
}
